.footer {
  padding-top: 37px;
  padding-bottom: 19px;
  @media (min-width: $width-tablet+px) {
    padding-top: 46px;
    padding-bottom: 32px;
  }
  @media (min-width: $width-desktop+px) {
    padding-top: 47px;
    padding-bottom: 43px;
  }
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr;
  @media (min-width: $width-tablet+px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer__logo {
}

.footer__social {
}
.footer__social-item {
}
.footer__social-link {
}
.footer__social-link--fb {
}
.footer__social-link--vk {
}
.footer__social-link--inst {
}
.footer__copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copy-text {
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #444444;
}
.footer__academy-logo {
}
