.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffd74b;
  border-radius: 20px;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: #1d2e5b;
  min-height: 40px;

  @media (min-width: $width-tablet+px) {
    padding: 0 33px;
    font-size: 24px;
    line-height: 24px;
    min-height: 80px;
    width: 284px;
    text-transform: none;
    justify-content: space-between;
  }

  @media (min-width: $width-desktop+px) {
    width: 286px;
  }

  &::after {
    @media (min-width: $width-tablet+px) {
      content: "";
      vertical-align: middle;
      display: inline-block;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-left: 13px solid #1d2e5b;
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    background-color: #ffbd30;
  }

  &:active {
    color: rgba($color: #1d2e5b, $alpha: 0.3);

    &::after {
      border-left-color: rgba($color: #1d2e5b, $alpha: 0.3);
    }
  }
}
