.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  font-family: $fontfamily;
}

.page--padtop {
  padding-top: 78px;

  @media (min-width: $width-tablet+px) {
    padding-top: 132px;
  }

  @media (min-width: $width-desktop+px) {
    padding-top: 110px;
  }
}
