.page-title-wrapper {
  background: #182044;
  padding-top: 21px;
  padding-left: 25px;
  padding-right: 25px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  z-index: 5;
  max-width: 100%;

  @media (min-width: $width-tablet+px) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-top: 95px;
    padding-left: 75px;
    padding-right: 75px;
  }

  @media (min-width: $width-desktop+px) {
    padding-top: 116px;
    padding-left: 0;
    padding-right: 0;
  }
}

.page-title-wrapper__container {
  height: 100%;

  @media (min-width: $width-desktop+px) {
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 64px;
  }
}

.page-title-wrapper__text {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  padding-bottom: 13px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    z-index: 3;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #ff8d30;
    border-radius: 4px;

    @media (min-width: $width-tablet+px) {
      height: 8px;
      bottom: -4px;
    }
  }

  @media (min-width: $width-tablet+px) {
    font-size: 60px;
    line-height: 46px;
    padding-bottom: 76px;
  }

  @media (min-width: $width-desktop+px) {
    height: 100%;
  }
}

.page-catalog {
  .page-title-wrapper__container {
    @media (min-width: $width-tablet+px) {
      display: grid;
      grid-template-columns: min-content 176px;
      align-items: stretch;
      justify-content: space-between;
    }

    @media (min-width: $width-desktop+px) {
      grid-template-columns: min-content 238px;
    }
  }

  .page-title-wrapper__link-main-page {
    display: none;

    @media (min-width: $width-tablet+px) {
      margin-top: 17px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 20px;
      line-height: 20px;
      color: #ffffff;
      display: flex;
      justify-content: space-between;
      align-self: start;
      align-items: center;
      fill: #ffffff;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }

    @media (min-width: $width-desktop+px) {
      margin-right: 63px;
    }
  }
}

.page-form {
  .page-title-wrapper {
    @media (min-width: $width-desktop+px) {
      position: absolute;
      width: 100%;
      height: 241px;
      z-index: 2;
    }
  }
}
