.social-menu {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  grid-template-rows: auto;
  gap: 26px;
  justify-self: center;

  @media (min-width: $width-tablet+px) {
    justify-self: start;
    margin-left: 26px;
    column-gap: 35px;
  }
}

.social-menu__item {
  height: auto;
}

.social-menu__link {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #192144;

  &:hover {
    fill: rgba($color: #192144, $alpha: 0.6);
  }

  &:active {
    fill: rgba($color: #192144, $alpha: 0.3);
  }

  @media (min-width: $width-tablet+px) {
    &--fb {
      svg {
        width: 14px;
        height: 28px;
      }
    }

    &--vk {
      svg {
        width: 31px;
        height: 16px;
      }
    }

    &--inst {
      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
