.directions-list {
  @media (min-width: $width-tablet+px) {
    position: relative;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 140px;
      height: 140px;
      background: #e2e5f2;
      border-radius: 20px;
      top: -38px;
      left: -34px;

      @media (min-width: $width-desktop+px) {
        top: -70px;
        left: -70px;
      }
    }
  }
}

.directions-list__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $width-tablet+px) {
    margin-bottom: 11px;
  }

  @media (min-width: $width-desktop+px) {
    margin-bottom: 10px;
  }
}
