.directions-item {
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  position: relative;

  @media (min-width: $width-tablet+px) {
    border-radius: 20px;
    grid-template-columns: 1fr 186px;
    &:last-child {
      .directions-item__slogan {
        margin-bottom: 0;
      }
      .directions-item__text-wrapper {
        padding-bottom: 16px;
      }
    }
  }
}

.directions-item__text-wrapper {
  background: #ffffff;
  border-radius: inherit;
  padding: 24px;
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 3px;
  position: relative;
  z-index: 2;

  @media (min-width: $width-tablet+px) {
    padding: 28px 0px 26px 30px;
    grid-template-columns: 1fr;
    justify-content: start;
    gap: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  @media (min-width: $width-desktop+px) {
    padding: 24px 24px 21px;
  }
}

.directions-item__title {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  @media (min-width: $width-tablet+px) {
    font-size: 24px;
    line-height: 24px;
  }
}

.directions-item__slogan {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: rgba($color: #000000, $alpha: 0.3);

  br {
    display: none;
  }

  @media (min-width: $width-tablet+px) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 12px;

    br {
      display: block;
    }
  }
}

.directions-item__users {
  grid-column: 2/3;
  grid-row: 1/-1;
  align-self: end;
  @media (min-width: $width-tablet+px) {
    grid-column: initial;
    grid-row: initial;
    justify-self: start;
  }
}

.directions-item__users-value {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba($color: #161c35, $alpha: 0.3);
  padding-left: 31px;
  background: url("../img/user.svg") no-repeat;
  background-size: 11px 12px;
  background-position: 13px center;

  @media (min-width: $width-tablet+px) {
    font-size: 20px;
    padding-left: 29px;
    background-size: 18px 20px;
    background-position: left center;
  }
}

.directions-item__flag {
  width: 35px;
  height: 24px;
  overflow: hidden;
  position: absolute;
  left: 25px;
  top: -13px;
  border-radius: 2px;

  @media (min-width: $width-tablet+px) {
    border-radius: 5px;
    width: 70px;
    height: 47px;
    left: initial;
    right: -35px;
    top: 17px;
  }
}

.directions-item__img-wrapper {
  order: -1;
  margin-bottom: -11px;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 110px;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  @media (min-width: $width-tablet+px) {
    order: 2;
    margin-bottom: 0;
    height: 100%;
  }
}
