.directions-item {
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  position: relative;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  @media (min-width: $width-tablet+px) {
    border-radius: 20px;
    grid-template-columns: 1fr 186px;
  }
}

.directions-item__text-wrapper {
  background: #ffffff;
  border-radius: inherit;
  padding: 26px 24px 24px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 2px;
  position: relative;
  z-index: 2;

  @media (min-width: $width-tablet+px) {
    grid-template-columns: 1fr;
    justify-content: start;
    gap: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  @media (min-width: $width-desktop+px) {
    padding: 24px 24px 21px;
  }
}

.directions-item__title {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  @media (min-width: $width-tablet+px) {
    font-size: 24px;
    line-height: 24px;
  }
}

.directions-item__slogan {
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: rgba($color: #000000, $alpha: 0.3);

  @media (min-width: $width-tablet+px) {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 12px;
  }
}

.directions-item__users {
  grid-column: 2/3;
  grid-row: 1/-1;
  justify-self: end;
  @media (min-width: $width-tablet+px) {
    grid-column: initial;
    grid-row: initial;
    justify-self: start;
  }
}

.directions-item__users-value {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: rgba($color: #161c35, $alpha: 0.3);
  @media (min-width: $width-tablet+px) {
    font-size: 20px;
  }
}

.directions-item__flag {
  width: 35px;
  height: 24px;
  background: tomato;
  position: absolute;
  left: 25px;
  top: -13px;
  @media (min-width: $width-tablet+px) {
    width: 70px;
    height: 47px;
    left: initial;
    right: -35px;
    top: 17px;
  }
}

.directions-item__img-wrapper {
  background: black;
  order: -1;
  margin-bottom: -11px;
  position: relative;
  z-index: 1;
  @media (min-width: $width-tablet+px) {
    order: 2;
    margin-bottom: 0;
  }
}
