.steps-guide {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  background: #ff8d30;
  list-style: none;
  counter-reset: li;
  border-radius: 10px;
  overflow: hidden;

  @media (min-width: $width-tablet+px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-radius: 20px;
  }
  @media (min-width: $width-desktop+px) {
    grid-template-columns: 315px 345px  345px 315px;
  }
}

.steps-guide__item {
  color: #ffffff;
  padding: 22px 21px 24px 24px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &::after {
    counter-increment: li;
    content: counter(li);

    @media (min-width: $width-tablet+px) {
      flex: 1 0 100%;
      font-size: 30px;
      line-height: 30px;
    }
    @media (min-width: $width-desktop+px) {
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
      justify-self: end;
    }
  }

  &:nth-child(2) {
    background: $color_2_promo;
    @media (min-width: $width-tablet+px) {
      border-top-left-radius: 20px;
    }
    @media (min-width: $width-desktop+px) {
      position: relative;
      z-index: 2;
      &:before {
        content: "";
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        right: -50%;
        background: $color_2_promo;
        z-index: -1;
      }
    }
  }
  &:nth-child(3) {
    background: $color_3_promo;
    position: relative;
    z-index: 2;
    &:before {
      content: "";
      position: absolute;
      width: 50%;
      height: 100%;
      top: 0;
      right: -50%;
      background: $color_3_promo;
      z-index: -1;
    }
  }
  &:nth-child(4) {
    background: $color_4_promo;
    @media (min-width: $width-tablet+px) {
      border-bottom-left-radius: 20px;
      position: relative;
      z-index: 2;
    }
  }

  @media (min-width: $width-tablet+px) {
    row-gap: 9px;
    padding: 31px 21px 22px 33px;
  }
  @media (min-width: $width-desktop+px) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }
}

.steps-guide__item-text {
  color: #161c35;
  flex: 0 1 65%;
  position: relative;
  z-index: 2;
  @media (min-width: $width-tablet+px) {
    font-size: 24px;
    line-height: 24px;
    flex: 0 1 67%;
  }
}
