.country-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 284px;
  gap: 1px;
  background: #cbced9;
  padding: 1px;

  @media (min-width: $width-tablet+px) {
    margin: 0;
    padding: 0;
    row-gap: 36px;
    column-gap: 0;
    background: transparent;
    margin-bottom: 78px;
    margin-left: 49px;
    margin-right: 350px;
  }

  @media (min-width: $width-desktop+px) {
    margin: 0 auto 49px;
    padding: 0 0 0 37px;
    max-width: 1320px;
  }
}

.country-list__item {
  @media (min-width: $width-desktop+px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas:
      "main-letter"
      "submenu";
    justify-items: start;
    gap: 28px;
  }
}

.country-list__item:not(.country-list__item--current) .country-list__submenu {
  display: none;

  @media (min-width: $width-desktop+px) {
    display: initial;
  }
}

.country-list__main-letter {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #1d2e5b;
  background: #ffffff;
  min-height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $width-tablet+px) {
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    color: rgba($color: #192144, $alpha: 0.3);
    border: none;
    background: transparent;
  }

  @media (min-width: $width-desktop+px) {
    color: #192144;
    grid-area: main-letter;
  }
}

.country-list__main-letter--current {
  position: relative;
  color: #ffffff;
  background: #1d2e5b;
  margin: -1px;
  min-height: 42px;

  @media (min-width: $width-tablet+px) {
    color: #192144;
    background: transparent;
    margin: 0;
    min-height: 41px;
  }

  &::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: -1px;
    left: 0;
    background: inherit;
  }
}

.country-list__submenu {
  position: absolute;
  top: 100%;
  left: 0;
  min-height: 100%;
  padding-top: 14px;

  @media (min-width: $width-tablet+px) {
    top: 0;
    left: 100%;
    right: initial;
    transform: translateX(100px);
  }

  @media (min-width: $width-desktop+px) {
    grid-area: submenu;
    position: relative;
    top: initial;
    left: initial;
    transform: none;
    padding: 0;
  }
}

.country-list__country {
  cursor: pointer;
  line-height: 22px;
  font-size: 16px;

  @media (min-width: $width-tablet+px) {
    line-height: 30px;
    font-size: 20px;

    &:hover {
      color: #1d2e5b;
    }
  }
}

.page-form {
  .country-list__main-letter--current {
    background: #edeff6;
  }
}
