.sets-row {
}
.sets-row__name {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #1d2e5b;
  @media (min-width: $width-tablet+px) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
  }
}
.sets-row__group {
}
.sets-row__input {
}

.sets-row__label {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  @media (min-width: $width-tablet+px) {
    font-size: 20px;
  }
}
.sets-row__group--travelmode {
}
