.wish-list {
}

.wish-list__country {
  @media (min-width: $width-tablet+px) {
    svg {
      width: 36px;
      height: 24px;
    }
  }
  @media (min-width: $width-desktop+px) {
    svg {
      width: 35px;
    }
  }
}
.wish-list__country-flag {
  @media (min-width: $width-tablet+px) {
  }
}
.wish-list__coutry-name {
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  color: #1d2e5b;
  @media (min-width: $width-tablet+px) {
    font-size: 20px;
    line-height: 20px;
  }
}
