.about {
  background: $bgcolor;
}

.about__container {
  @media (min-width: $width-tablet+px) {
    padding: 0 73px;
  }
  @media (min-width: $width-desktop+px) {
    padding: 0 130px;
  }
}

.about__title {
}

.about__text {
  color: #ffffff;
}

.about__text-bottom {
  color: #ffffff;
}

.about__btn {
}
