.header {
  background-color: #161c34;
  padding-top: 28px;
  padding-bottom: 28px;
  transition: all 0.5s ease 0s;

  @media (min-width: $width-tablet+px) {
    padding-top: 40px;
    background-color: #182044;
  }

  @media (min-width: $width-desktop+px) {
    background-color: #161c34;
    padding-top: 46px;
    padding-bottom: 62px;
  }
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 96px;
  height: 15px;
  position: relative;
  z-index: 20;

  @media (min-width: $width-tablet+px) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: $width-desktop+px) {
    width: 200px;
    height: 52px;
    margin-right: 145px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -100px;
      width: 60px;
      height: 2px;
      background: #ffffff;
    }
  }

  .header__logo-img--blue {
    display: none;
  }
}

.header__logo--blue {
  .header__logo-img--blue {
    display: block;
  }

  .header__logo-img--white {
    display: none;
  }
}

.header__logo-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header__menu {
  min-height: 20px;
  min-width: 20px;

  @media (min-width: $width-tablet+px) {
    flex: 1 0 auto;
  }
}

.header__authr-btn-doble {
  display: none;

  @media (min-width: $width-tablet+px) {
    color: #161c35;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    border-radius: 25px;
    background: #ffd74b;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 188px;

    &:hover,
    &:focus,
    &:focus-within {
      background-color: #ffbd30;
    }

    &:active {
      background-color: #ffbd30;
      color: rgba($color: #161c35, $alpha: 0.3);
    }
  }
}

.page-form,
.page-catalog {
  .header {
    background: #182044;
  }

  .header--fixed {
    background: #ffffff;
  }
}

.header--no-js {
  @media (max-width: $width-desktop+px) {
    padding: 0;

    .header-menu__wrapper {
      display: grid;
      position: relative;
      padding-bottom: 41px;

      @media (min-width: $width-tablet+px) {
        padding-bottom: 91px;
      }
    }

    .header-menu__toggle {
      display: none;
    }

    .header__body {
      position: relative;
      display: grid;
      justify-content: stretch;
      padding: 0;
    }

    .header__menu {
      order: -1;
      width: 100%;
    }

    .header__logo {
      position: absolute;
      top: 27px;
      left: 25px;

      @media (min-width: $width-tablet+px) {
        top: 45px;
        left: 40px;
      }
    }

    .header__authr-btn-doble {
      display: none;
    }
  }
}

.header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  background: #ffffff;
  padding-top: 27px;
  padding-bottom: 31px;

  @media (min-width: $width-tablet+px) {
    padding-top: 40px;
    padding-bottom: 42px;
  }

  @media (min-width: $width-desktop+px) {
    padding-top: 17px;
    padding-bottom: 13px;

    .header__logo::after {
      background: #192144;
    }

    .site-list__link {
      color: #192144;
    }
  }

  .header-menu__toggle {
    &::after,
    &::before {
      background: #cccccc;
    }
  }

  .header__logo-img--blue {
    display: block;
  }

  .header__logo-img--white {
    display: none;
  }
}
