// чтобы подключить к блоку прописать строку ниже
//  @include sectionRadiusBackground;
@mixin sectionRadiusBackground {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--main-border-radius);
    bottom: 100%;
    left: 0;
    background: inherit;
    z-index: -1;
  }
}

@mixin sectionTopRadius {
  position: relative;
  border-top-left-radius: var(--main-border-top-radius);
  border-top-right-radius: var(--main-border-top-radius);
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: var(--main-border-top-radius);
    top: 0;
    left: 0;
    z-index: -1;
  }
}
