.companions {
  background-color: #192144;
  padding-top: 68px;
  padding-bottom: 31px;
  border-bottom-left-radius: var(--main-border-radius);
  border-bottom-right-radius: var(--main-border-radius);

  @include sectionRadiusBackground;

  background-image:
    url("../img/about-back-mobile.png"),
    url("../img/smolov-back-desktop@1x.png"),
    url("../img/rogovaya-back-mobile@1x.png");
  background-size: auto, 143px 143px, auto;
  background-repeat: no-repeat;
  background-position: left 34px, 86% 34px, left 307px;

  @media (min-width: $width-tablet+px) {
    background-image: url("../img/about-back-desktop.png"),
      url("../img/smolov-back-desktop@1x.png"),
      url("../img/rogovaya-back-desktop@1x.png");
    padding-top: 141px;
    padding-bottom: 87px;
    background-size: 212px 212px, 143px 143px, 285px 285px;
    background-position: 40px 71px, 40px 426px, 84% 80px;
  }

  @media (min-width: $width-desktop+px) {
    background-image: url("../img/smolov-back-desktop@1x.png"),
      url("../img/rogovaya-back-desktop@1x.png");
    padding-top: 130px;
    padding-bottom: 134px;
    background-size: 143px 143px, 285px 285px;
    background-position: 42% 134px, 190px 386px;
  }
}

.companions__container {
  @media (min-width: $width-desktop+px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    padding-left: 70px;
    padding-right: 0;
  }
}

.companions__text-wrapper {
  padding: 0 25px;

  @media (min-width: $width-desktop+px) {
    padding: 0;
    position: relative;
    z-index: 1;
  }
}

.companions__title {
  margin-bottom: 19px;

  @media (min-width: $width-tablet+px) {
    margin-bottom: 55px;
  }

  @media (min-width: $width-desktop+px) {
    position: relative;

    &::after {
      content: "";
      width: 212px;
      height: 212px;
      background: #141b3b;
      border-radius: 20px;
      position: absolute;
      top: -62px;
      left: -72px;
      z-index: -1;
    }
  }
}

.companions__text {
  margin-bottom: 25px;
  max-width: 217px;

  @media (min-width: $width-tablet+px) {
    margin-bottom: 39px;
    line-height: 34px;
    max-width: 430px;
  }
}

.companions__text-bottom {
  margin-bottom: 54px;

  br {
    display: none;

    @media (min-width: $width-tablet+px) {
      display: block;
    }
  }
}

.companions__list {
  margin-bottom: 20px;

  @media (min-width: $width-tablet+px) {
    margin-bottom: 80px;
  }

  @media (min-width: $width-desktop+px) {
    margin-bottom: 0;
  }
}

.companions__btn {
  @media (min-width: $width-desktop+px) {
    max-width: 280px;
    align-self: end;
  }
}
