.companions-item {
  background: #ffffff;
}
.companions-item__img-wrapper {
}
.companions-item__desc {
}
.companions-item__country-list {
}
.companions-item__name {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: #1d2e5b;
}
.companions-item__name--offline {
}
.companions-item__name--online {
}
.companions-item__tags-list {
}
.companions-item__travelmode-list {
}
.companions-item__level-wrapper {
}
