.companions-item {
  background: #ffffff;
  border-radius: 10px;
  position: relative;
  padding-bottom: 20px;

  @media (max-width: $width-tablet+px) {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  }

  @media (min-width: $width-tablet+px) {
    border-radius: 20px;

    &:hover {
      filter: drop-shadow(0 4px 9px rgba(0, 0, 0, 0.16));

      img {
        transform: scale(1.1);
      }
    }
  }
}

.companions-item__img-wrapper {
  width: 100%;
  min-height: 270px;
  position: relative;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  img {
    transition: transform 0.7s ease 0s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  @media (min-width: $width-tablet+px) {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }

  @media (min-width: $width-desktop+px) {
    width: 285px;
    height: 285px;
  }
}

.companions-item__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.companions-item__country-flag-list {
  margin-bottom: 13px;
  z-index: 2;
  margin-top: -11px;

  @media (min-width: $width-desktop+px) {
    margin-top: -13px;
    margin-bottom: 17px;
  }
}

.companions-item__name {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: #1d2e5b;
  text-align: center;
  margin-bottom: 15px;
  position: relative;

  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -16px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #f97676;
  }

  @media (min-width: $width-tablet+px) {
    font-size: 24px;
    line-height: 22px;

    &:hover {
      color: rgba($color: #1d2e5b, $alpha: 0.7);
    }
  }

  &:active {
    color: rgba($color: #1d2e5b, $alpha: 0.3);
  }

  @media (min-width: $width-desktop+px) {
    align-self: flex-start;
    padding-left: 68px;
    margin-bottom: 24px;
  }
}

.companions-item__name--online {
  &::after {
    background: #81e31e;
  }
}

.companions-item__tags-list {
  padding: 0 44px;
  column-gap: 5px;
  justify-content: center;
  margin-bottom: 14px;
  height: 100%;
  flex: 1 1 auto;

  @media (min-width: $width-tablet+px) {
    padding: 0 25px;
  }

  @media (min-width: $width-desktop+px) {
    margin-bottom: 24px;
  }
}

.companions-item__travelmode-list {
  width: 120px;
  min-height: 25px;

  @media (min-width: $width-tablet+px) {
    width: 123px;
  }
}

.companions-item .companions-item__level-wrapper {
  position: absolute;
  top: 19px;
  left: 17px;

  @media (min-width: $width-desktop+px) {
    top: 20px;
    left: 22px;
  }
}
