.companions-item {
  background: #ffffff;
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  @media (min-width:$width-tablet+px){
    border-radius: 20px;
  }
}
.companions-item__img-wrapper {
  width: 100%;
  min-height: 270px;
  border: 1px solid #000;
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
  }
}
.companions-item__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.companions-item__country-flag-list {
  margin-bottom: 13px;
}
.companions-item__name {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: #1d2e5b;
  text-align: center;
  margin-bottom: 15px;
  position: relative;
  &:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -16px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #f97676;
  }
  @media (min-width: $width-tablet+px) {
    font-size: 24px;
    line-height: 22px;
  }
}
.companions-item__name--offline {
}
.companions-item__name--online {
  &:after {
    background: #81e31e;
  }
}
.companions-item__tags-list {
  padding: 0 50px;
  gap: 5px;
  justify-content: center;
  margin-bottom: 14px;
}
.companions-item__travelmode-list {

}
.companions-item .companions-item__level-wrapper {
  position: absolute;
  top: 17px;
  left: 16px;
}
