.country-list {
}

.country-list__item {
}

.country-list__main-letter {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #1d2e5b;
  background: #ffffff;
  width: 44px;
  min-height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cbced9;
  @media (min-width: $width-tablet+px) {
    font-weight: bold;
    font-size: 60px;
    line-height: 60px;
    color: rgba($color: #192144, $alpha: 0.3);
    border: none;
  }
}

.country-list__main-letter--current {
  color: #ffffff;
  background: #1d2e5b;
  @media (min-width: $width-tablet+px) {
    color: #192144;
    background: transparent;
  }
}

.country-list__submenu {
}

.country-list__country {
}

.page-form {
  .country-list__main-letter--current {
    background: #edeff6;
  }
}
