.travelmode-list {
  height: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $width-tablet+px) {
    height: 25px;
  }
}

.travelmode-list__item {
  fill: rgba($color: #1d2e5b, $alpha: 0.15);
  position: relative;

  &:hover {
    & > .travelmode-list__item-tooltip {
      opacity: 1;
      visibility: visible;
      height: 72px;
    }
  }
}

.travelmode-list__item-tooltip {
  transition: all 0.3s ease 0s;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  height: 0;
  margin-top: -2px;
  padding-top: 15px;
}

.travelmode-list__item--active {
  fill: #101d41;
}

.travelmode-list__icon {
  @media (min-width: $width-tablet+px) {
    &[aria-label="самолет"] {
      width: 23px;
      height: 22px;
    }

    &[aria-label="автобус"] {
      width: 18px;
      height: 20px;
    }

    &[aria-label="велосипед"] {
      width: 25px;
      height: 25px;
    }

    &[aria-label="пешком"] {
      width: 22px;
      height: 24px;
    }
  }
}

.user-info__travelmode-list {
  height: auto;
  padding-top: 16px;
  padding-bottom: 15px;
  justify-content: center;
  gap: 1px;

  .travelmode-list__item {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &:hover,
    &:focus,
    &:focus-within {
      filter: drop-shadow(0 2px 6px rgba(22, 28, 53, 0.17));
      fill: #616d8c;

      &:not(.travelmode-list__item--active) {
        fill: #b2b2b2;
      }
    }

    &:active {
      filter: none;
      background-color: #e2e5f1;
      fill: #a7aec4;

      &:not(.travelmode-list__item--active) {
        fill: #ced3e2;
      }

      .travelmode-list__btn {
        background-color: inherit;
      }
    }
  }

  .travelmode-list__btn {
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    outline: none;
  }

  @media (min-width: $width-tablet+px) {
    height: 100%;
    gap: 0;

    .travelmode-list__item {
      width: 44px;
      height: 44px;
    }

    .travelmode-list__btn {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .travelmode-list__icon {
      width: 32px;
      height: 22px;
    }
  }
}

.travelmode-list__checkbox:checked {
  & + .travelmode-list__btn {
    fill: #1d2e5b;

    &:hover {
      fill: #616d8c;
    }
  }
}

.travelmode-list__checkbox:not(:checked) {
  & + .travelmode-list__btn {
    fill: #d9d9d9;

    &:hover {
      fill: #b2b2b2;
    }

    &:active {
      fill: #ced3e2;
    }
  }
}
