.item-plans {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #1d2e5b;
  background: #ffffff;
  border-radius: 10px;
  padding: 24px 24px 23px;

  @media (min-width: $width-tablet+px) {
    padding: 39px 33px 15px 40px;
    display: grid;
    grid-template-columns: 140.5px 1fr max-content;
    column-gap: 38px;
    grid-template-areas:
      "country country number"
      "companions date change-link";
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 54px;
      left: 0;
      width: 100%;
      height: 1px;
      background: rgba($color: #cbced9, $alpha: 0.3);
    }
  }

  @media (min-width: $width-desktop+px) {
    grid-template-columns: 20px 300px 1fr 280px 2fr min-content;
    grid-template-areas: "number country . companions date change-link";
    align-items: center;
    padding: 35px 40px 38px 42px;
    column-gap: 0;

    &::after {
      content: "";
      display: none;
    }
  }
}

.item-plans__country {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-transform: capitalize;
  display: inline-block;
  grid-area: country;
  margin-bottom: 20px;
  margin-left: 6px;

  @media (min-width: $width-tablet+px) {
    margin-left: 0;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 54px;
    grid-column: span 2;
  }

  @media (min-width: $width-desktop+px) {
    text-align: left;
    grid-column: initial;
    margin: 0;
    margin-left: 32px;
  }
}

.item-plans__companions {
  grid-area: companions;
  margin-bottom: 5px;
  letter-spacing: 0.06em;

  @media (min-width: $width-tablet+px) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }

  @media (min-width: $width-desktop+px) {
    text-align: left;
    margin-left: 108px;
    letter-spacing: 2px;
  }
}

.item-plans__date {
  grid-area: date;
  margin-bottom: 24px;
  letter-spacing: 1.5px;

  @media (min-width: $width-tablet+px) {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }

  @media (min-width: $width-desktop+px) {
    margin-left: 7px;
    letter-spacing: 1px;
    text-align: left;
  }
}

.item-plans__change-link {
  grid-area: change-link;
  text-decoration: none;
  color: rgba($color: #000000, $alpha: 0.3);

  @media (min-width: $width-tablet+px) {
    justify-self: end;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
    margin-right: 4px;
  }

  @media (min-width: $width-desktop+px) {
    letter-spacing: 1.5px;
    margin: 0;
    margin-right: 2px;
  }

  &:hover,
  &:focus,
  &:focus-within {
    color: rgba($color: #000000, $alpha: 0.6);
  }

  &:active {
    color: rgba($color: #000000, $alpha: 0.1);
  }
}
