.user-info {
  background: #edeff6;
}
.user-info__container {
}
.user-info__title {
}

.user-info__wrapper {
}
.user-info__level-wrapper {
}

.user-info__img-wrapper {
}
.user-info__img-btn {
  background: #dfe3f0;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #161c35;
  border-radius: 20px;
  min-height: 40px;
  width: 100%;
}
.user-info__tags-wrapper {
}
.user-info__tags-heading {
}
.user-info__heading-wrapper {
  border-radius: 10px;
  border: 1px solid #cbced9;
  position: relative;
}
.user-info__heading-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #1d2e5b;
  text-transform: uppercase;
  padding: 0 14px;
}
.user-info__tags-list {
  padding: 25px;
  background: transparent;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: rgba($color: #444444, $alpha: 0.6);
  resize: none;
  width: 100%;
}
.user-info__travelmode-wrapper {
}
.user-info__travelmode-heading {
}
.user-info__travelmode-list {
}
