.user-info {
  background: #edeff6;
  padding-top: 20px;
  padding-bottom: 34px;
  @include sectionRadiusBackground;

  @media (min-width: $width-tablet+px) {
    padding-top: 66px;
    padding-bottom: 58px;
  }
  @media (min-width: $width-desktop+px) {
    padding-top: 0;
    padding-bottom: 65px;
  }
}

.user-info__container {
}

.user-info__title {
}

.user-info__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  row-gap: 18px;
  justify-items: center;
  @media (min-width: $width-tablet+px) {
    grid-template-rows: auto;
    grid-template-columns: 1fr 2fr 1fr;
    row-gap: 52px;
  }
  @media (min-width: $width-desktop+px) {
    grid-template-columns: repeat(4, 1fr) 285px;
    grid-template-rows: 190px repeat(2, min-content);
    row-gap: 0;
    column-gap: 44px;
    align-items: center;
    justify-content: stretch;
  }
}

.user-info__level-wrapper {
  @media (min-width: $width-tablet+px) {
    grid-column-start: 1;
  }
  @media (min-width: $width-desktop+px) {
    grid-column-start: 4;
    justify-self: end;
  }
  &.level-wrapper {
    width: 100px;
    height: 100px;
    color: #161c35;
    @media (min-width: $width-tablet+px) {
      width: 95px;
      height: 95px;
    }
    @media (min-width: $width-desktop+px) {
      color: #ffffff;
    }
  }
  .level-wrapper__svg-prorgess-bar {
    background: transparent;
  }
  .level-wrapper__content {
  }
  .level-wrapper__level-value {
    color: inherit;
    font-size: 38px;
    line-height: 38px;
    margin-bottom: 12px;
    &:after {
      content: "";
      width: 100%;
      position: absolute;
      bottom: -6px;
      left: 0;
      height: 1px;
      background: rgba($color: #444444, $alpha: 0.3);
      @media (min-width: $width-desktop+px) {
        background: rgba($color: #ffffff, $alpha: 0.3);
      }
    }
  }
  .level-wrapper__text {
    color: inherit;
    font-size: 18px;
    line-height: 18px;
  }
  .svg-circle {
    fill: none;
    stroke-width: 10px;
    r: 100;
    --circle-radius: 100;
    stroke-linecap: initial;
  }
}

.user-info__img-wrapper {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  background: lightgreen;
  position: relative;
  @media (min-width: $width-tablet+px) {
    border-radius: 7px;
  }
  @media (min-width: $width-desktop+px) {
    justify-self: start;
    width: 190px;
    height: 190px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 3;
  }
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.user-info__img-btn {
  grid-column: 1/-1;
  margin-bottom: 15px;
  background: #dfe3f0;
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #161c35;
  border-radius: 20px;
  min-height: 40px;
  width: 100%;
  @media (min-width: $width-tablet+px) {
    margin-bottom: 0;
    border-radius: 10px;
  }
  @media (min-width: $width-desktop+px) {
    grid-column-start: -2;
    height: 47px;
    width: 190px;
    justify-self: start;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-bottom: 27px;
  }
}
.user-info__img-btn--text {
  span {
    @media (min-width: $width-desktop+px) {
      display: none;
    }
  }
}
.user-info__tags-wrapper {
  grid-column: 1/-1;
  justify-self: stretch;
  position: relative;
  @media (min-width: $width-desktop+px) {
    grid-column: 1/4;
  }
}
.user-info__heading-wrapper {
  border-radius: 10px;
  border: 1px solid #cbced9;
  position: relative;
  width: 100%;
}

.user-info__heading-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #1d2e5b;
  text-transform: uppercase;
  padding: 0 14px;

  position: absolute;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: auto;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: #edeff6;
  @media (min-width: $width-tablet+px) {
    font-size: 20px;
    line-height: 20px;
    top: initial;
    bottom: -10px;
  }
}

.user-info__tags-heading {
  @media (min-width: $width-desktop+px) {
    left: 26px;
    transform: none;
  }
}

.user-info__tags-list {
  padding: 25px;
  background: transparent;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: rgba($color: #444444, $alpha: 0.6);
  resize: none;
  width: 100%;
  height: 89px;
  @media (min-width: $width-tablet+px) {
    font-size: 20px;
    line-height: 22px;
    height: 95px;
  }
  @media (min-width: $width-desktop+px) {
    padding: 39px 35px;
  }

  &:focus,
  &:focus-within {
    outline: none;
  }
}

.user-info__travelmode-wrapper {
  grid-column: 1/-1;
  @media (min-width: $width-tablet+px) {
    grid-column: initial;
    grid-column-start: 2;
    grid-row-start: 1;
  }
  @media (min-width: $width-desktop+px) {
    grid-column: 4/-1;
    grid-row-start: 3;
    justify-self: stretch;
  }
}
.user-info__travelmode-heading {
}
.user-info__travelmode-list {
}
