.addplan {
  background: #d4d9eb;
  padding-top: 28px;
  padding-bottom: 73px;

  @include sectionTopRadius;

  &::after {
    background: #dfe3f0;
  }

  @media (min-width: $width-tablet+px) {
    padding-top: 50px;
    padding-bottom: 123px;
  }

  @media (min-width: $width-desktop+px) {
    padding-top: 52px;
    padding-bottom: 133px;
  }
}

.addplan__container {
  position: relative;

  @media (min-width: $width-tablet+px) {
    padding-left: 75px;
    padding-right: 75px;
  }

  @media (min-width: $width-desktop+px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.addplan__title {
  display: inline-block;
  vertical-align: middle;
  margin-right: 36px;
  margin-bottom: 31px;

  @media (min-width: $width-tablet+px) {
    margin-bottom: 59px;
  }

  @media (min-width: $width-desktop+px) {
    margin-left: 69px;
    margin-bottom: 57px;
  }
}

.addplan__points {
  vertical-align: middle;
  margin: 0 auto 29px;

  @media (min-width: $width-tablet+px) {
    position: absolute;
    right: 75px;
    top: 17px;
  }
}

.addplan__points.plan-points {
  @media (min-width: $width-desktop+px) {
    display: none;
  }
}
