.choose-country {
  position: relative;

  @media (min-width: $width-tablet+px) {
    padding-top: 43px;
    border-top: 1px solid #e1e3e9;
  }

  > li {
    margin-bottom: 22px;
    position: relative;

    @media (min-width: $width-tablet+px) {
      margin-bottom: 14px;
    }

    &:last-child {
      margin-bottom: 0;

      &::after {
        display: none;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -16px;
      left: 165px;
      width: 5px;
      height: 10px;
      background-image: url("../img/small-arrow.svg");

      @media (min-width: $width-tablet+px) {
        display: none;
      }
    }
  }

  &::after {
    @media (min-width: $width-tablet+px) {
      content: "";
      position: absolute;
      top: 0;
      left: 394px;
      width: 1px;
      height: 110%;
      background: linear-gradient(180deg, #e1e3e9 0%, #e1e3e9 80%, #ffffff 110%);
      z-index: 1;
    }

    @media (min-width: $width-desktop+px) {
      left: initial;
      right: 225px;
      background: #e1e3e9;
      height: 130%;
    }
  }

  @media (min-width: $width-desktop+px) {
    padding-top: 64px;
  }
}

.choose-country__item {
  position: relative;
  height: 42px;

  @media (min-width: $width-tablet+px) {
    min-height: 70px;
    padding-right: 44px;
  }
}

.choose-country__item--current {
  .icon-drop-close {
    display: none;
  }

  .choose-country__flag-wrapper {
    display: none;
  }

  &:hover {
    .choose-country__option {
      border-color: #959bb2;
    }
  }
}

.choose-country__item--current.show-menu {
  .choose-country__option--current {
    border: 1px solid #1d2e5b;
    background: #1d2e5b;
    color: #ffffff;
    letter-spacing: 0.02em;
    padding-left: 17px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    &::before {
      z-index: -1;
    }

    @media (min-width: $width-tablet+px) {
      padding-left: 25px;
    }
  }

  .choose-country__del-choosen {
    display: none;

    @media (min-width: $width-tablet+px) {
      display: block;
    }
  }

  .choose-country__header {
    z-index: 4;
  }

  .choose-country__submenu {
    display: grid;

    @media (min-width: $width-tablet+px) {
      width: 577px;
      grid-template-columns: 289px 1fr;
      gap: 79px;
    }

    @media (min-width: $width-desktop+px) {
      width: 100%;
      grid-template-columns: 2fr 1fr;
      gap: 0;
    }
  }

  .submenu-country__country-list {
    padding-right: 0;
  }

  .choose-country__option-text {
    color: #ffffff;
  }

  .choose-country__drop-arrow {
    background: transparent;

    @media (min-width: $width-tablet+px) {
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .icon-drop-open {
    display: none;
  }

  .icon-drop-close {
    display: block;
    fill: #ffffff;

    @media (min-width: $width-tablet+px) {
      fill: rgba($color: #ffffff, $alpha: 0.3);
    }
  }
}

.choose-country__header {
  position: relative;
  display: flex;
  height: 100%;
  z-index: 2;

  @media (min-width: $width-tablet+px) {
    align-items: center;
  }
}

.choose-country__option {
  flex: 1 0 168px;
  border: 1px solid #cbced9;
  border-radius: 4px;
  padding-left: 11px;
  position: relative;
  white-space: nowrap;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #1d2e5b;
    right: -4px;
    z-index: 2;

    @media (min-width: $width-tablet+px) {
      width: 14px;
      height: 14px;
      right: -33px;
    }

    @media (min-width: $width-desktop+px) {
      right: -54px;
    }
  }

  @media (min-width: $width-tablet+px) {
    padding-left: 25px;
    padding-right: 27px;
    margin-right: 52px;
    max-width: 369px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $width-desktop+px) {
    max-width: 730px;
    margin-right: 85px;
  }
}

.choose-country__option-text {
  position: absolute;
  left: 11px;
  font-weight: 500;
  font-size: 14px;
  color: #1d2e5b;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  line-height: 40px;

  @media (min-width: $width-tablet+px) {
    position: relative;
    left: initial;
    display: inline-block;
    line-height: 70px;
    font-weight: 500;
    font-size: 20px;
  }
}

.choose-country__option--current {
  cursor: unset;
  background: transparent;

  &::before {
    background: #ffffff;
    border: 1px solid #cbced9;
    right: 46px;

    @media (min-width: $width-tablet+px) {
      width: 14px;
      height: 14px;
      right: -33px;
    }

    @media (min-width: $width-desktop+px) {
      right: -52px;
    }
  }

  &:focus-within,
  &:focus {
    outline: none;
    border-color: #959bb2;
  }
}

.choose-country__drop-arrow {
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 56px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 14px;
  margin-left: auto;
  fill: #b3b3b3;
  background: linear-gradient(270deg, #ffffff 0%, #ffffff 66%, rgba(255, 255, 255, 0) 82%, rgba(255, 255, 255, 0) 100%);

  @media (min-width: $width-tablet+px) {
    display: inline-flex;
    padding: 0;
    margin: 0;
    background: transparent;
    width: 50px;
    height: 50px;

    svg {
      width: 20px;
      height: 13px;
    }
  }

  &:hover {
    .icon-drop-close {
      fill: #ffffff;
    }
  }

  &:active {
    .icon-drop-close {
      fill: rgba($color: #ffffff, $alpha: 0.1);
    }
  }
}

.choose-country__flag-wrapper {
  border: 1px solid #cbced9;
  border-left: 0;
  border-radius: 4px;
  padding: 9px;
  width: 53px;
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;

  @media (min-width: $width-tablet+px) {
    width: 70px;
    height: 47px;
    border: 0;
    padding: 0;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.choose-country__del-choosen {
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #edeff6;
  z-index: 2;
  fill: #afb0b5;

  @media (min-width: $width-tablet+px) {
    width: 24px;
    height: 24px;
    background-color: transparent;
    fill: #e5e5e5;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  @media (min-width: $width-tablet+px) {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }

  &:hover,
  &:focus,
  &:focus-within {
    fill: rgba($color: #000000, $alpha: 0.3);
  }

  &:active {
    fill: rgba($color: #000000, $alpha: 0.05);
  }
}

.choose-country__add-new {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1d2e5b;
  font-weight: 500;
  background: #edeff6;
  border-radius: 4px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 11px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: transparent;
    right: 46px;
    border: 1px solid #cbced9;
    z-index: 2;

    @media (min-width: $width-tablet+px) {
      width: 14px;
      height: 14px;
      right: -33px;
      background: #edeff6;
    }

    @media (min-width: $width-desktop+px) {
      right: -52px;
    }
  }

  @media (min-width: $width-tablet+px) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.09em;
    padding: 0 25px 0 26px;
    height: 70px;
    width: 369px;
    background: #dfe3f0;
  }

  @media (min-width: $width-tablet+px) {
    padding: 0 25px;
  }

  @media (min-width: $width-desktop+px) {
    width: auto;
    max-width: 730px;
  }

  &:hover,
  &:focus,
  &:focus-within {
    .choose-country__add-new-btn-plus::after,
    .choose-country__add-new-btn-plus::before {
      background-color: rgba($color: #000000, $alpha: 0.3);
    }
  }

  &:active {
    .choose-country__add-new-btn-plus::after,
    .choose-country__add-new-btn-plus::before {
      background-color: rgba($color: #000000, $alpha: 0.1);
    }
  }
}

.choose-country__add-new-btn-plus {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  position: relative;
  background: transparent;

  @media (min-width: $width-tablet+px) {
    width: 20px;
    height: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: #cccccc;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background: #cccccc;
  }

  @media (min-width: $width-tablet+px) {
    &::after,
    &::before {
      background-color: #9c9fa8;
    }
  }
}
