.step-item-third {
  display: grid;
  padding-bottom: 17px;
  grid-template-areas:
    "title ."
    "text text"
    "action-desc action-desc"
    "btn-sub btn-sub"
    "prev-step prev-step";

  @media (min-width: $width-tablet+px) {
    padding-top: 44px;
    padding-left: 45px;
    padding-bottom: 53px;
    grid-template-areas:
      "title ."
      "text text"
      "action-desc action-desc"
      "btn-sub prev-step";
  }

  @media (min-width: $width-desktop+px) {
    padding-bottom: 102px;
    padding-top: 96px;
    padding-left: 160px;
    grid-template-columns: 730px 1fr;
    column-gap: 42px;
    grid-template-areas:
      "title plan-points"
      "text plan-points"
      "action-desc action-desc"
      "btn-sub prev-step";
  }

  .step-item__title {
    grid-area: title;
    margin-bottom: 15px;

    @media (min-width: $width-tablet+px) {
      margin-bottom: 34px;
    }

    @media (min-width: $width-desktop+px) {
      margin-bottom: 33px;

      br {
        display: none;
      }
    }
  }

  .step-item__text {
    grid-area: text;
    margin-bottom: 22px;

    @media (min-width: $width-tablet+px) {
      margin-bottom: 36px;
      max-width: 500px;
    }

    @media (min-width: $width-desktop+px) {
      margin-bottom: 0;
    }
  }

  .step-item__action-desc {
    grid-area: action-desc;
    margin-bottom: 18px;

    @media (min-width: $width-tablet+px) {
      margin-bottom: 46px;
    }

    @media (min-width: $width-desktop+px) {
      margin-top: 56px;
      margin-bottom: 57px;
    }
  }

  .step-item__btn-submit {
    grid-area: btn-sub;
    margin-bottom: 17px;

    @media (min-width: $width-tablet+px) {
      margin-bottom: 0;
    }
  }

  .step-item__prev-step {
    grid-area: prev-step;
  }

  .step-item__plan-points {
    grid-area: plan-points;

    @media (min-width: $width-desktop+px) {
      row-gap: 20px;
      margin-top: 7px;
    }
  }
}
