.step-item-first {
  padding-bottom: 23px;

  @media (min-width: $width-tablet+px) {
    padding-bottom: 56px;
  }

  @media (min-width: $width-desktop+px) {
    padding-bottom: 106px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    // grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "title points"
      "text points"
      "travel-set travel-set"
      "calendar calendar"
      "next-step next-step";
    column-gap: 130px;

    .step-item__title {
      grid-area: title;
      @media (min-width: $width-desktop+px) {
        margin-bottom: 33px;
        br {
          display: none;
        }
      }
    }
    .step-item__text {
      grid-area: text;
      margin-bottom: 0;
    }
    .step-item__plan-points {
      grid-area: points;
      align-self: center;
    }
    .step-item__travel-set {
      margin-top: 55px;
      grid-area: travel-set;
    }
    .step-item__calendar {
      grid-area: calendar;
    }
    .step-item__next-step {
      grid-area: next-step;
    }
  }

  .step-item__text {
    margin-bottom: 20px;
    @media (min-width: $width-tablet+px) {
      margin-bottom: 38px;
    }
  }
}
